---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";
/* Custom Styles for Favorite Quote Dropdown - CLEAN & GUARANTEED PARTS */

details summary {
  /* Fixes the Asterisk Icon */
  list-style: none !important;
  list-style-type: none !important;
  -webkit-details-marker: none !important; 
  display: block !important; 

  /* Ensures these desired styles remain */
  font-size: 1.1em !important; 
  font-weight: bold !important; 
  cursor: pointer !important;
  padding-bottom: 0.5em !important;
}

/* Cleanup for the content container */
details blockquote {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
  border: none !important;
}
